.sideContainer{
    width: 100%;
}

.sideContainer form{
    width: 100%;
}

.sideContainer form h4{
    font-weight: 900;
    color: #0061df;
    font-size: 20px;
}

.formTermsCond{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formTermsCond label{
    font-size: 15px;
}

.formTermsCond label a{
    color: #0061df;
}

.sideContainer form button{
    margin: 5px 0 5px 0;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    min-height: 35px;
    color: #fff;
    background-color: #0061df;
    border-radius: 30px;
}

.sideAdContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    width: 100%;
    padding: 1.5rem;
    background-color: rgba(0, 97, 253,0.2);
    border-radius: 15px;
}

.sideAdContainerHead{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.sideAdContainer p{
    flex: 1.5;
    font-weight: 700;
    font-size: 18px;
}

.sideAdContainer h1{
    flex: 1;
    font-style: italic;
    font-weight: 900;
    font-size: 40px;
}

.sideAdContainer ul{
    list-style-type: disc;
}

.sideAdContainer button{
    margin-top: 1rem;
    font-size: 20px;
    width: 100%;
    min-height: 35px;
    border-radius: 30px;
    background-color: #0061df;
    color: #fff;
}

.sideAdContainer button span{
    font-weight: 700;
    color: #0061df;
    background-color: #fff;
}