.sideContainer{
    width: 100%;
    border:1px solid rgba(50, 49, 49, 0.5);
}

.sideContainer form{
    width: 80%;
    margin: auto;
}

.sideContainer form h4{
    font-weight: 900;
    color: #0061df;
    font-size: 20px;
}

.formTermsCond{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.formTermsCond label{
    font-size: 15px;
}

.formTermsCond label a{
    color: #0061df;
}

.sideContainer form button{
    margin: 10px 0 10px 0;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    min-height: 35px;
    color: #fff;
    background-color: #0061df;
    border-radius: 30px;
}



