.MainLayout{
    width: 75%;
    margin: auto;
    padding:20px;
}

.MainLayout h2{
    font-size: 35px;
    font-weight: bold;
}

.MainLayout a{
    background-color: #e1e1e1;
    border-radius: 5px;
    margin-right: 20px;
    padding: 2px;
    margin-left: 3px;
}