
.BannerDetails{
    height: 50vh;
    background-color: rgba(9, 8, 8, 0.737);
    width: 400px;
    padding: 10px;
}

.BannerDetails p{
    color: white;
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
    flex-grow: 1;
    flex-basis: 200;
}
.Agree{
    color: #fff508;
}

.Protect{
    background-color: #ffffff;
    color: #000;
    padding-right: 5px
}

.BannerDetails select{
    padding: 5px;
    margin-top: 20px;
    margin-right: 15px;
    width: 45%;
    border-radius: 10px;
    flex-grow: 1;
    flex-basis: 200;
}

.BannerBg {
    background: url("/rentagreement/bannerrent.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    padding: 3% 1%;
    height: 75vh;
  
}

@media only screen and (max-width: 500px){
    .BannerDetails{
        width: 360px;
    }
}

@media only screen and (max-width: 768px){
    
.BannerDetails{

    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: center;
    max-height: 300px;
    height: clamp(250px, 100vw , 300px);
}

.BannerDetails p{
    color: white;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    flex-grow: unset;
    flex-basis: unset;
    padding: 24px 0;
   
}
.Agree{
    color: #fff508;
}

.Protect{
    background-color: #ffffff;
    color: #000;
    padding-right: 5px
}

.BannerDetails select{
    padding: 8px;
    margin-top: unset;
    margin-right: unset;
    width: 50%;
    border-radius: 30px;
    flex-grow: unset;
    flex-basis: unset;
    text-align: center;
    background: white;
    color: rgba(0,0,0,0.5);
    
}

.BannerBg {
    background: url("/rentagreement/bannerrent.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 0px 30px;
    height: unset;
  
}
}
@media only screen and (min-width: 768px){
    
.BannerDetails{

    background-color: rgba(0, 0, 0, 0.3);
    width: 45%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: center;
    max-height: 300px;
    height: clamp(250px, 100vw , 300px);
}

.BannerDetails p{
    color: white;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    flex-grow: unset;
    flex-basis: unset;
    padding: 24px 0;
   
}
.Agree{
    color: #fff508;
}

.Protect{
    background-color: #ffffff;
    color: #000;
    padding-right: 5px
}

.BannerDetails select{
    padding: 8px;
    margin-top: unset;
    margin-right: unset;
    width: 50%;
    border-radius: 30px;
    flex-grow: unset;
    flex-basis: unset;
    text-align: center;
    background: white;
    color: rgba(0,0,0,0.5);
    
}

.BannerBg {
    background: url("/rentagreement/bannerrent.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 30px;
    height: unset;
  
}
}

