@media screen and (max-width: 768px){
    
    .rentSwiperDots {
        bottom: -4px !important;
        position: absolute;

   
    }
    .swiper-pagination-bullet {
        width: 5px !important;
        height: 5px !important;

   
    }

    .rentSwiperSlide {
        margin-bottom: 0px !important;
    }
    
}