.toparticlesContainer{
    display: flex;
    max-width: 1000px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 35px;
}

.toparticlesContainer h3{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.subtitle{
    margin: 0.5rem 0 0.5rem 0;
    text-align: center;
    color: #a6a6a6;
    font-size: 15px;
    font-weight: 600;
}

.subtopics{
    width: 70%;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: bold;
}

.subtopics p{
    cursor: pointer;
}

.selected::after{
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: #0061df;
}

.line{
    content:"";
    margin: 1rem 0 3rem 0;
    width: 75%;
    height: 2px;
    background-color: black;
}


.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem 2rem;
    justify-items: center; 
    align-items: center; 
}

.contentBlock{
  display: flex;
  min-width: 100px;
  max-width: 300px;
}

.withLine {
    border-bottom: 1px solid rgb(126,126,126,0.5);
  }

.imgContainer{
    min-width: 75px;
    max-width: 100px;
    padding-bottom: 10px;
}

.img{
    border-radius: 8px;
}

.texts{
    margin-left: 1rem;
    padding-bottom: 10px;
}

.content h6 {
  font-size: 15px;
  font-weight: bold;
}

.content p {
  font-size: 10px;
  color: #666;
}

.toparticlesContainer a {
  color: #0061df;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  margin-top: 1.5rem;
}

@media screen and (max-width: 1100px){
    .toparticlesContainer{
        margin: 6rem 1rem 6rem 1rem;
    }

    .toparticlesContainer h3{
        font-size: 45px;
    }
}

@media screen and (max-width: 1100px){

    .toparticlesContainer{
        margin: 0 1rem 0 1rem;
    }

    .toparticlesContainer h3{
        font-size: 35px;
    }
}

@media screen and (max-width: 900px){
    .subtopics{
        width: 90%;
    }

    .line{
        width: 100%;
    }

    .content{
        grid-template-columns: 1fr; 
    }
}

@media screen and (max-width:590px){
    .subtopics{
        width: 100%;
        font-size: 10px;
    }

    .content h6{
        font-size: 12px;
    }

    .content p{
        font-size: 10px;
    }

}