.ChooseUs h2{
    font-size: 30px;
    font-weight: bold;
}

.ChooseUsOpt{
    display: flex;
}
.ChooseUsOpt div{
    width: 33%;
}
.ChooseUsOpt img{
    height: 150px;
    margin: auto;
    padding: 25px;
    object-fit: cover;
    width: auto;
}

.ChooseUsOpt h3{
    font-size: 20px;
    font-weight: bold;
}

@media only screen and (max-width: 990px){
    .ChooseUsOpt div{
        padding: 23px;
    }
}
@media only screen and (max-width: 500px){
    .ChooseUsOpt{
        display: inline-block;
    }
    .ChooseUsOpt div{
        width: 98%;
    }
    .ChooseUs h2{
        margin-top: 20px;
    }
}