.cities-carousel {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    width: 200px; 
    margin-right: 10px;
    height: 100px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    @apply mx-12
  }

  .slick-prev:before,
.slick-next:before {
    font-family:initial!important;
    color:black; 
}
  