.slick-prev {
  display: none !important;
}
.slick-prev::before {
  content: unset;
}
.slick-next {
  right: 8px !important;
 
}
@media screen and (min-width: 1300px) {
  .testimonial-container {
    display: flex; 
    justify-content: center;
  }
} 