.slick-track {
    display: flex !important;
    gap: 10px;
}

.slick-dots {
	top: 105% !important;

	display: flex !important;
	flex-wrap: wrap;
	justify-content: center;
}

.slick-list{
    margin-right: 2rem;
}


.category-next.slick-next::before, .category-next.slick-prev::before{
    content: unset;
}


.content-shown{
    animation: fade 0.5s ease;
}

@keyframes fade {
    from {
        opacity: 0;
        scale: 0;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

@media screen and (max-width: 768px) {
    .slick-list {
        margin-right: 1rem;
    }
    
}