.cards-wrapper {
    margin: 1rem 2rem 4rem 2rem;
    justify-content: center;
    @apply pl-2 pr-2
  }

  
  .cards-container {
    display: flex;
    column-gap: 0.6rem;
    justify-content: center;
    overflow: hidden;
    position: relative;
    @apply compact pl-2 
  }

  .cards-container-responsive{
    display: none;
  }
  
  /* .card {
    height: 160px;
    background-color: #fdfcfc;
    transition: width 0.3s, transform 0.3s
    flex-shrink: 0;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
  } */
  
  .card-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    border-radius: 8px;
    align-items: center;

  }
  
  .card-image {
    flex: 1;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    @apply object-cover
}
  
  .card-description {
    flex: 1;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .card h3 {
    margin: 0;
    /* font-size: 16px; */
    @apply font-[Poppins] font-semibold text-xl
  }
  
  .card p {
    margin: 5px 0;
    font-size: 14px;
    @apply pr-64 font-[Poppins] text-gray-700
  }
  
  .card.active {
    z-index: 1;
    transition: width 0.3s, transform 0.6s;
    position: absolute;
    flex: 0 0 100%;
    min-width: 200px;

  }
  .card.active .card-content{
    height: 230px;
  }
  
  .card.active .card-image {
    flex: 0 0 230px; 
  }
  .card.active .title{
    display:none
  }
  /* .card.active .card-content{
    @apply 
  } */

@media screen and (max-width:1100px){

  .cards-container{
    display: none;
  }

  .cards-container-responsive{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    column-gap: 1rem;
    row-gap: 1rem;
    justify-content: start;

    align-items: stretch;
    position: relative;

    /* max-width: 1400px; */

  }
}


