@import '@fontsource/poppins';

.postercardContainer{
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin: auto;
    column-gap: 2.5rem;
    margin: 3rem 0 3rem 0;
    @apply pl-4
    

}


.title{
    font-family: 'Poppins', sans-serif; 
    line-height: 1.4;
    font-size: 20px;
    font-weight: bold;   
}

.imgContainer{
    width: 450px;
    height: 350px;
}

.img{
    object-fit: cover;
    border-radius: 40px;
    width: 100%;
    height: 100%;
}

.sideContent{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 0.5rem;
    margin-top: 25px;
}

.sideContent p{
    color: #0061df;
    font-size: 15px;
    font-weight: 700;
    padding: 4px;
    background-color: rgba(0, 97, 223,0.1);
    border-radius: 8px;
}

.sideContent h3{
    font-size: 20px;
}

.sideContent h3:empty{
    display: none;
}

.sideContent h4{
    font-size: 20px;
    font-weight: bold;
}

.sideContent h4 span{
    background-color: green;
    border-radius: 8px;
    padding: 6px;
    color: #fff;
    font-weight: bold;
}

.sideContent h4:empty{
    display: none;
}

.sideContent h4 span:empty{
    display: none;
}

.sideContent h6{
    font-size: 18px;
    color: #737373;
}

.btn1{
    padding: 0.5rem 1rem;
    color: #fff;
    min-height: 50px;
    @apply 
    bg-gradient-to-r from-teal-400 to-blue-700
    hover:from-teal-600 hover:to-indigo-500
    font-[Poppins];
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
    border: 0;
    margin-top: 0.5rem;
}

.inputField{
    width: 100%;
}

.inputField input {
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .btn2{
    width: 20%;
    margin-left: 2rem;
    padding: 0.5rem 1rem;
    min-height: 50px;
    color: #fff;
    @apply 
    bg-gradient-to-r from-teal-400 to-blue-700
    hover:from-teal-600 hover:to-indigo-500
    font-[Poppins];
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    border: 0;
}

@media screen and (max-width:1050px){
    .postercardContainer{
        flex-direction: column;
        row-gap: 2rem;
        align-items: center;
    }

    .sideContent{
        max-width: 400px;
    }
}

@media screen and (max-width:800px){

    .imgContainer{
        width: 450px;
        height: 450px
    }

    .img{
        border-radius: 75px;
    }

    .sideContent{
        row-gap: 0.75rem;
    }

    .sideContent h3{
        font-size: 26px;
    }

    .sideContent h4{
        font-size: 26px;
    }
}

@media screen and (max-width:590px){
    .title{
        font-size: 25px;
    }

    .imgContainer{
        width: 330px;
        height: 350px;
    }

    .sideContent{
        padding: 0 3rem 0 3rem;
        row-gap: 0.5rem;
    }

    .sideContent p{
        font-size: 15px;
    }

    .sideContent h3{
        font-size: 20px;
    }

    .sideContent h4{
        font-size: 20px;
    }

    .sideContent h6{
        font-size: 15px;
    }

    .btn1{
        margin-top: 1rem;
        min-height: 50px;
        font-size: 20px;
        border-radius: 5px;
    }

    .inputField{
        display: flex;
        flex-direction: column;
    }

    .inputField input{
        width: 100%;
    }

    .btn2{
        width: 100%;
        margin: 1rem 0 0 0; 
    }

}
