.slick-track {
    display: flex !important;
    gap: 10px;
}


.category-next.slick-next::before, .category-next.slick-prev::before{
    content: unset;
}


.content-shown{
    animation: fade 0.5s ease;
}

@keyframes fade {
    from {
        opacity: 0;
        scale: 0;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}