.container {
    width: 100%;
    height: 360px;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 64% 34%;
    position: relative;
  }
  
  .mainImgContainer {
    position: relative;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
  }
  
  .sideImgContainer {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .sideImage {
    position: relative;
    height: 47%;
    width: 100%;
    overflow: hidden;
    border-radius: 10px; 
  }

  .floorPlanButton{
    top: 530px;
    left: 14rem;
  }

  .imageButtonClass1{
    top: 530px;
    right: 14rem;
  }

  .imageButtonClass2{
    top: 490px;
    right: 28rem
  }
  
  .floorPlanButton,
  .viewImagesButton {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
  }

  .imageCarasouelContainer{
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 15;
  }

  .close{
    position: fixed;
    z-index: 20;
    top: 40px;
    right: 5rem;
    cursor: pointer;
  }

  @media screen and (max-width: 1400px){
    .floorPlanButton{
      top: 520px;
      left: 11rem;
    }
  
    .imageButtonClass1{
      top: 520px;
      right: 11rem;
    }
  } 

  @media screen and (max-width: 1200px){
    .floorPlanButton{
      top: 520px;
      left: 9rem;
    }
  
    .imageButtonClass1{
      top: 520px;
      right: 9rem;
    }
  } 

  @media screen and (max-width: 1000px){
    .floorPlanButton{
      top: 500px;
      left: 7rem;
    }
  
    .imageButtonClass1{
      top: 500px;
      right: 7rem;
    }
  }
  
  @media screen and (max-width: 800px){
    .floorPlanButton{
      top: 440px;
      left: 5rem;
    }
  
    .imageButtonClass1{
      top: 440px;
      right: 5rem;
    }
  }
  
  @media screen and (max-width: 600px){
    .container{
      height: 250px;
      grid-template-columns: 100%;
    }

    .sideImgContainer{
      display: none;
    }

    .floorPlanButton{
      top: 320px;
      left: 3rem;
    }
  
    .imageButtonClass1{
      top: 320px;
      right: 3rem;
    }
  }

  .viewImagesButton {
    top: 85%;
    right: 5%;
  }