.content2DevcardContainer{
    /* width: 23%; */
    border-radius: 16px;
    /* border: 1px solid black; */
    cursor: pointer;
    width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);

 
}


.devcardImgContainer{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.devcardTextContainer{
    width: 100%;
    border-top: 1px solid black;
    padding: 5px 20px 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.devcardTextContainer h4{
    font-size: 24px;
    font-weight: 900;
}

.devcardTextContainer h6{
    font-size: 14px;
}

.devcardImgContainer img {
    min-width: 150px;
}

@media screen and (max-width: 960px){
    .devcardTextContainer {
        padding: 6px 12px;
    }

    .devcardTextContainer h4{
        font-size: 20px;

    }
    
    .devcardTextContainer h6{
        font-size: 12px;
    }

    
    .devcardImgContainer {
        height: 100px;
    }
}
@media screen and (max-width: 640px){
    .devcardTextContainer {
        padding: 4px 8px;
    }

    .devcardTextContainer h4{
        font-size: 16px;

    }
    
    .devcardTextContainer h6{
        font-size: 10px;
    }

    
    .devcardImgContainer {
        height: 65px;
    }

    .devcardImgContainer img {
        min-width: 100px;
    }
}
@media screen and (max-width: 420px){
    .devcardTextContainer {
        padding: 4px;
        font-size: 12px;
    }

    .devcardTextContainer h4{
        font-weight: 700;

    }
    
    .devcardTextContainer h6{
        font-size: 10px;
        font-size: 8px;
    }

   
}
