.mainContainer2{
    width: calc(100%);
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    margin-top: 3%;
}

.mainContainer2 h5{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
    
    .mainContainer2 {
        row-gap: 1rem;
    }
}