.content2PhotosContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.content2PhotosItem{
    width: 22%;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}


.viewImagesButton {
  position: relative;
  font-size: 10px;
  top: 110px;
  left: 63%;
  font-weight: bold;
  background-color: white;
  border: none;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}

.imageCarasouelContainer{
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 15;
}

.close{
  position: fixed;
  z-index: 20;
  top: 40px;
  right: 5rem;
  cursor: pointer;
}