.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6rem;
    margin: 0;
    top: 0;
    right: 0;
    left: 0;
    background: transparent;
    z-index: 10;
    position: fixed;

}
/* .IMG{
    @apply mix-blend-color-burn
} */

.navbar.scrolled {
    background-color: #0061DF; 
    opacity: 90%;
    max-height: 30px;
  }
  .navbar.scrolled .navbar-links{
    @apply hover:text-blue-950;
    border-bottom: none;
    padding: 8px 0px;
  }

.navbar-links{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(255, 255, 255, 0.212); 
    padding: 10px 0px;
}

.navbar-links__logo{
    margin-right: 2rem;
    display: flex;
    align-items: flex-end;
}

.navbar-links__logo h3{
    /* color: #0061DF; */
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
}


.navbar-links__container{
    display: flex;
    flex-direction: row;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.212); 
    padding: 20px 0px; */
}

.navbar-sign{
    display: flex;
    justify-content: space-between;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

.navbar-links__container p,
.navbar-sign p,
.navbar-menu_container p{
    @apply font-[Poppins] hover:text-yellow-500  text-gray-100 font-bold hover:underline underline-offset-[10px] ;
    transition: width 0.3s ease;
    font-size: 15px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
}

.navbar-menu_container h5{
    color: #fff;
    font-size: 20px;
    margin-bottom: 1rem;
    padding: 5px;
    border: 1px solid #b8860b;
    border-radius: 10px ;
}

.navbar-sign button,
.navbar-menu_container button{
    padding: 0.5rem 1rem;
    color: #fff;
    @apply 
    bg-gradient-to-r from-blue-600 to-indigo-500
    hover:from-blue-700 hover:to-indigo-600 rounded-3xl
    font-[Poppins];
    font-weight: 500;
    font-size: 15px;
    /* line-height: 25px; */
    /* border-radius: 5px; */
    cursor: pointer;
    outline: none;
    border: 0;
}

.navbar-menu{
    margin-left: 1rem;
    display:none;
    position: relative;
}

.navbar-menu svg{
    cursor: pointer;
}

.close{
    z-index: 20;
    width: 100%;
    position: fixed;
    top: 80%;
    left: 0;
}


@keyframes slideDown {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  

.navbar-menu_container{
    background-color: rgb(17,24,39,0.9);
    animation: slideDown 0.5s ease;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
}


.navbar-menu_container p{
    margin: 1rem 0;
}

.navbar-menu_container-links-sign{
    display: none;
}

@media screen and (max-width:1050px) {

    .navbar-menu_container p{
        font-size: 20px;
    }

    .navbar-menu_container button{
        font-size: 20px;
    }

    .navbar-links__container{
        display:none;
    }

    .navbar-menu{
        display: flex;
    }
    
}

@media screen and (max-width:700px) {
    .navbar{
        padding: 2rem 2rem;
    }    
}

@media screen and (max-width:550px) {
    .navbar{
        padding: 2rem;
    }   
    
    .navbar-sign{
        display: none;
    }

    .navbar-menu_container{
        top: 20px;
    }
    .navbar-menu_container-links-sign{
        display: block;
    }
}