.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6rem;
    margin: 0;
    top: 0;
    right: 0;
    left: 0;
    background: transparent;
    z-index: 10;
    position: fixed;

}

.navbarPage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    margin: 0;
    top: 0;
    right: 0;
    left: 0;
    max-height: 80px;
    background: #0061DF;
    z-index: 10;
    position: relative;
}

.navbar.scrolled {
    background-color: #0061DF; 
    max-height: 30px;
  }
  .navbar.scrolled .navbar-links{
    @apply hover:text-blue-950;
    border-bottom: none;
    padding: 8px 0px;
  }
  .navbar.scrolled .arrow{
    color: white;
  }
.navbar-links{
    flex: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(255, 255, 255, 0.212); 
    padding: 10px 0px;
}

.navbar-links__logo{
    margin-right: 1rem;
    display: flex;
    align-items: flex-end;
}

.navbar-links__logo h3{
    /* color: #0061DF; */
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
}


.navbar-links__container{
    display: flex;
    flex-direction: row;
    gap: 15px;
   
}
.flyout-menu-container {
    position: fixed;
    top: 0; 
    left: 0; 
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a shadow for depth */
}
.triangle-pointer {
    position: absolute;
    top: -30px; /* Adjust the position if needed */
    left: 10px; /* Adjust the position if needed */
    border-width: 15px; /* Increase the size of the pointer */
    border-style: solid;
    border-color: transparent transparent white transparent;
    z-index: 1;
} 


.navbar-sign{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}

.navbar-links__container p,
.navbar-sign p,
.navbar-menu_container p{
    @apply font-[Poppins] hover:text-yellow-500  text-gray-100 font-bold  ;

    font-size: 15px;
    text-transform: capitalize;
    margin: 0 0.5rem;
    cursor: pointer;
}

.navbar-menu_container h5{
    color: #fff;
    font-size: 20px;
    margin-bottom: 1rem;
    padding: 5px;
    border: 1px solid #b8860b;
    border-radius: 10px ;
}

.navbar-sign button,
.navbar-menu_container button{
    padding: 0.5rem 1rem;
    color: #fff;
    @apply 
    bg-gradient-to-r from-blue-600 to-indigo-500
    hover:from-blue-700 hover:to-indigo-600 rounded-3xl
    font-[Poppins];
    font-weight: 500;
    font-size: 12px;
    /* line-height: 25px; */
    /* border-radius: 5px; */
    cursor: pointer;
    outline: none;
    border: 0;
}

.navbar-menu{
    display:none;
    position: relative;
}

.navbar-menu svg{
    cursor: pointer;
}

.close{
z-index: 1;
    width: 100%;
    position: fixed;
    top: 80%;
    left: 0;
}


@keyframes slideDown {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  

.navbar-menu_container{
    background-color: rgb(17,24,39,0.9);
    animation: slideDown 0.5s ease;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
}


.navbar-menu_container p{
    margin: 1rem 0;
}

.navbar-menu_container-links-sign{
    display: none;
}

.custom-select-container {
    position: relative;
    display: inline-block;
  }
  
  .custom-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    @apply pr-6
  }
  
  .custom-arrow {
    position: absolute;
    top: 50%;
    right: 0;  
    transform: translateY(-50%);
    width: 15px; 
    height: auto; 
  }
  


@media screen and (max-width:1155px) {
   .navbar{
    max-width: 100vw;
   }
   .navbarPage{
    max-width: 100vw;
   }
    .navbar-menu_container p{
        font-size: 20px;
    }

    .navbar-menu_container button{
        font-size: 20px;
    }
    .nav-drop{
        @apply mr-5
    }

    .navbar-links__container{
        display:none;
    }

    .navbar-menu{
        display: flex;
    }
    .navbar-sign{
        display: none;
    }
    
} 
@media screen and (min-width:1154px) {
    .navbar{
        padding: 1rem 0.5rem;
        max-width: 100vw;
    } 
    .navbarPage{
     max-width: 100vw;
     padding: 1rem 0.5rem;
    }
     
 } 

@media screen and (max-width:700px) {
    .navbar{
        padding: 1rem 0rem;
        max-width: 100vw;
    } 
    
    .navbarPage{
        padding: 1rem 0rem;
        max-width: 100vw;
    }
}

@media screen and (max-width:550px) {
    .navbar{
        padding:  0.5rem;
        min-height: 2.5rem;
    } 
    .navbar.scrolled {
        padding:  0.5rem;
      }
    
    .navbarPage{
        padding:  0.5rem;
    }
    .navbar-menu_container h5{
        font-size: 12px;
        margin-bottom: 0.5rem;
    }
    .navbar-menu_container button{
        font-size: 12px;
    }
    .close{
        z-index: 1;
        width: 100%;
        position: fixed;
        top: 85%;
        left: 0;
    }
    
    .navbar-sign{
        display: none;
    }
    .navbar-menu_container-links-sign{
        display: block;
    }
    .custom-select-container{
        display: none;
    }
    .navbar-links__logo IMG{
    display: none;
   }
   .navbar-links__logo{
    margin-left: 2%;
    align-items: flex-end;
   }
}