.amenitiesContainer{
    padding:25px;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    column-gap: 20px;
    row-gap: 20px;
    border: 2px solid rgba(63, 62, 62, 0.5);
    border-radius: 20px;
}

.amenitiesContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align: center;
}

@media screen and (max-width: 1080px) {
    .amenitiesContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}