.developerInfoContainer{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    /* border: 2px solid rgba(63, 62, 62, 0.5); */
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: 20px;

}

.developerInfoLogoContainer{
    position: relative;
    justify-content: center;
    width: 23%;

}

.developerInfoContentContainer{
    position: relative;
    font-weight: 300;
    justify-content: center;
    width: 73%;
}

.developerInfoContentContainer span{
    cursor: pointer;
    margin-top: 2px;
    color: #0061df;
}

@media screen and (max-width: 640px) {
    .developerInfoContentContainer{
  
        font-weight: 500;
        font-size: 12px;
        line-height: normal;

    }
    
}