.mainContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.mainContainer h1{
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 1rem;
}

.headerComp{
    width: 100%;
    padding-bottom: 3rem;
    border-bottom: 1px solid black;
}

.headerComp h6{
    font-size: 15px;
    font-weight: 900;
}

.head{
    font-size: 40px;
    font-weight: 700;
}

.head p{
    font-size: 15px;
    font-weight: 300;
}

.headerComp h5{
    font-size: 28px;
    font-weight: 700;
}

.aboutProperty{
    width: 100%;
}

.aboutProperty h3{
    font-size: 30px;
    font-weight: 700;
}

.aboutProperty h6{
    cursor: pointer;
    margin-top: 4px;
    color: #0061df;
    font-weight: 700;
}

.mapContainer{
    width: 100%;
}

.mainContainer iframe{
    width: 100%;
    height: 300px;
}

.mainContainerLine{
    width: 100%;
    height: 1px;
    background-color: black;
}

