.mainContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    
}

.mainContainer h1{
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 0.5rem;
}

.headerComp{
    width: 100%;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid black;
}

.headerComp h6{
    font-size: 15px;
    font-weight: 900;
}



.head{
    font-size: 40px;
    font-weight: 700;
}

.head p{
    font-size: 15px;
    font-weight: 300;
}

.headerComp h5{
    font-size: 28px;
    font-weight: 700;
}

.aboutProperty{
    width: 100%;
    text-align: justify;
}

.aboutProperty h3{
    font-size: 30px;
    font-weight: 700;
}

.aboutProperty h6{
    cursor: pointer;
    margin-top: 4px;
    color: #0061df;
    font-weight: 700;
}

.mapContainer{
    width: 100%;
  
}

.mainContainer iframe{
    width: 100%;
    height: 300px;
}

.mainContainerLine{
    width: 100%;
    height: 1px;
    background-color: black;
}

@media screen and (max-width: 1000px){
    .head{
        font-size: 35px;
    }

    .headerComp{}

}
@media screen and (max-width: 768px){

    .headerComp h6{
        font-size: 12px;
        font-weight: 900;
    }

    .head{
        font-size: 24px;
        font-weight: 700;
    }

    .head p{
        font-size: 12px;
        font-weight: 300;
    }


 
    
    .aboutProperty h3{
        font-size: 22px;
        font-weight: 700;
    }
    
    .aboutProperty h6{
        cursor: pointer;
        margin-top: 4px;
        color: #0061df;
        font-weight: 700;
    }

    .aboutProperty p {
        font-size: 14px;
    }
    

    .mainContainer h1{

        font-size: 18px;
    }

    .headerComp h5{
        font-size: 20px !important;
        font-weight: 700;
    }

    .mainContainer {
        row-gap: 1rem;
    }
}

@media screen and (max-width: 420px) {
    .aboutProperty h3 {
        font-size: 20px
    }

    .head {
        font-size: 20px;
        line-height: normal;
    }

    .head p {
        font-size: 10px;
    }

    
    .headerComp h5{
        font-size: 16px !important;
        font-weight: 700;
    }
}