.specificationContainer{
    width:100%;
    border: 2px solid rgba(63, 62, 62, 0.5);
    border-radius: 20px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.specificationSubContainer{
    width: 100%;
}

.specificationSubContainer h3{
    width: 100%;
    padding: 5px;
    font-weight: 700;
    font-size: 18px;
    background-color: rgb(205, 205, 205,0.5);
}

.specificationSubContainerContent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
    row-gap: 1rem;
}

.specificationSubContainerDataBlock h4{
    font-size: 15px;
    font-weight: 700;
}

.specificationSubContainer ul{
    padding-left: 1.25rem;
    list-style-type: disc;
}


@media screen and (max-width: 640px) {
    .specificationContainer{
        width:100%;
        border: 0px;
        border-radius: 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
    
    .specificationSubContainer{
        width: 100%;

    }
    
    .specificationSubContainer h3{
        width: 100%;
        padding: 5px;
        font-weight: 700;
        font-size: 18px;
        background-color: rgb(205, 205, 205,0.5);
    }
    
    .specificationSubContainerContent{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 1rem;
        row-gap: 1rem;
        padding: 0px 2px;
        justify-content: space-between;
    }
    
    .specificationSubContainerDataBlock h4{
        font-size: 14px;
        font-weight: 700;
    }
    
    .specificationSubContainer ul{
        padding-left: 1.25rem;
        list-style-type: disc;
    }
    .specificationSubContainer li{
        font-size: 12px;
        text-align: justify;
    }
    
}
