.Layout{
    margin: 0rem 8rem;
    /* display: flex; */
}


@media only screen and (max-width: 990px){
    .Layout{
        margin:auto;
        margin-left: 40px;
        display: block;
    }
}

@media only screen and (max-width: 500px){
    .Layout{
        margin: 0rem 2rem;
    }
}
