.Layout{
    margin: 0rem 8rem;
    display: flex;
}

.title{
    margin: 0rem 8rem;
    font-size: 36px;
    font-weight: bold;
}
.heading{
    margin: 1rem 8rem;
    font-size: 15px;   
}
.heading a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

.heading a:hover {
    color: blue;
}

.Sidebar{
    width: 400px;
}

.mainContainer{
    width: calc(100% - 280px);
}

@media only screen and (max-width: 990px){
    .Layout{
        margin:auto;
        margin-left: 40px;
        display: block;
    }
    
    .title{
        margin: 0rem 1.5rem;
        display: block;
    }
}

@media only screen and (max-width: 500px){
    .Layout{
        margin: 0rem 2rem;
    }
    .mainContainer{
        width: calc(100% - 0px);
    }
    .Sidebar{
        width: 100%;
    }
}
