.agentLayout {
  display: flex;
  width: 75%;
  margin: auto;
  gap: 20px;
  flex-wrap: wrap;
 
}

.MostSearched {
  border: 2px solid black;
  display: inline-block;
  padding: 20px 10px;
  border-radius: 10px;
  margin-top: 55px;
}

.MostSearched h2 {
  font-weight: bold;
}

.sidebar {
  margin-top: 80px;
  width: 300px;
  flex-grow: 1;
  flex-basis: 200;
}

.MainLayout {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0px;
  justify-content: center;
  gap: 20px;
}
.Explore {
  font-size: 30px;
  font-weight: bold;
  margin-top: 15px;
}

.ExpertImg {
  display: inline-block;
  object-fit: cover;
  object-position: center center;
  border-radius: 20px;
  margin: 0px 5px;
  margin-right: 10px;
  flex-grow: 1;
  flex-basis: 200;
}
.ExpertImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 20px;
  margin: 0px 10px;
  flex-grow: 1;
  flex-basis: 200;
}

.parentLayout {
  margin: auto;
  display: inline-block;
}

.ExpertLayout {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #0061fd;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
}

.ExpertInfo {
  padding: 0px 10px;
  /* flex-grow: 1;
    flex-basis: 200; */
}

.ExpertName {
  font-size: 20px;
  font-weight: bold;
}

.ExpertStatus span {
  border: 1px solid black;
  font-size: 12px;
  padding: 2px 10px;
  border-radius: 12px;
  margin-right: 5px;
}

.ExpertContact button {
  background-color: #0061fd;
  margin-right: 5px;
  padding: 5px 20px;
  border-radius: 10px;
  color: white;
}
.ExpertContact {
  text-align: end;
  margin: -15px 0px;
}

.ExpertTime,
.ExpertStatus {
  margin-top: 8px;
  flex-grow: 1;
  flex-basis: 200;
}

.featured button {
  background-color: #07d62e;
  color: white;
  margin-right: 5px;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 5px;
}

.featured span {
  cursor: pointer;
}

.featured {
  position: relative;
  display: inline-block;
  /* width: fit-content; */
  height: fit-content;
  /* border: 2px solid black; */
  bottom: 90%;
  left: 81%;
  /* background-color: black; */
}

.MoreExperts {
  background-color: #0061fd;
  color: white;
  padding: 5px 25px;
  border-radius: 15px;
  margin-bottom: 30px;
  margin-top: 10px;
}

@media only screen and (max-width: 990px) {
  .featured {
    bottom: 125%;
    left: 80%;
  }
}

@media only screen and (max-width: 500px) {
  .featured {
    bottom: 87%;
    left: 75%;
  }
  .ExpertContact {
    text-align: end;
    margin-top: 5px;
  }
  .agentLayout {
    display: block;

    /* border: 8px solid red; */

    gap: 0px;
  }
}


@media screen and (max-width: 768px){
  .agentLayout {
    display: flex;
    width: 100%;
    margin: unset;
    gap: 10px;
    flex-wrap: wrap;
    padding: 8px 16px;
  }

  .sidebar {
    margin-top: unset;

  }
}
@media screen and (min-width: 768px){
 


}