.AskDealAcres{
    background: url('../../../public/Agent/AskDealAcres.webp');
    object-fit: cover;
    position: center;
}


.ContactForm{
    width: 35%;
    margin-left: 220px;
    padding: 10px;
    background-color: rgba(24, 24, 24, 0.7);
}


.ContactForm form{
    padding: 20px 50px;
}

.ContactForm p{
    color: red;
    font-size: 11px;
    margin-left: 15px;
    margin-bottom: 25px;   
}

.ContactForm label{
    /* margin-left: 15px;  */
    color: white;
}

.ContactForm input, .ContactForm select{
    display: block;
    padding: 10px;
    /* margin: 0px 10px; */
    width: 100%;
    border: 1px solid rgb(0, 0, 0, 0.15); 
    /* border-radius: 10px; */
}

.ContactForm select option{
    padding: 200px;
    margin-top: 20px;
}

.ContactForm button{
    background-color: #0061fd;
    color: white;
    padding: 10px;
    width: 100%;
    font-weight: bold;
    margin-bottom: 15px;
    /* border-radius: 10px; */
}

.TitleInfo h2{
    margin-top: 10px;
    font-weight: bold;
    font-size: 30px;
    margin-left: 15px;
    color: white;
    text-align: center;
}

.TitleInfo p{
    /* font-weight: bold; */
    font-size: 18px;
    color: white;
    text-align: center;
}

@media only screen and (max-width: 992px) {
    .ContactDetails{
        margin: 3rem auto;
        width: 95%;
        display: block;
    }
    .DetailPad{
        margin: 1rem 0rem;
    }
    .ContactForm{
        width: 55%;
        margin-left: 110px;
    }
} 
@media only screen and (max-width: 992px) {
    .ContactDetails{
        margin: 3rem auto;
        width: 95%;
        display: block;
    }
    .DetailPad{
        margin: 1rem 0rem;
    }
    .ContactForm{
        width: 85%;
        margin-left: 30px;
    }
    
} 


@media only screen and (max-width: 768px) {
    .AskDealAcres{
        background: url('../../../public/Agent/AskDealAcres.webp');
        object-fit: cover;
        position: static;
        padding: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ContactForm{
        width: unset;
        margin-left: unset;
        padding: 10px;
        background-color: rgba(24, 24, 24, 0.7);
    }
    

    .TitleInfo h2{

        font-weight: bold;
        font-size: 24px;
        /* margin-left: 15px; */
        color: white;
        text-align: center;
    }
    
    .TitleInfo p{
        /* font-weight: bold; */
        font-size: 18px;
        color: white;
        text-align: center;
    }

    .ContactForm input, .ContactForm select{
        display: block;
        padding: 8px;
        /* margin: 0px 10px; */
        width: 100%;
        border: 1px solid rgb(0, 0, 0, 0.15); 
        /* border-radius: 10px; */
    }

} 