.propertyContainer{
    width: 100%;
    padding: 5rem 12rem 5rem 12rem;
    overflow: hidden;
}

.contentContainer{
    margin-top: 2rem;
    width: 100%;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 62% 32%;
}

@media screen and (max-width: 1400px){
    .propertyContainer{
        padding:4rem 9rem 4rem 9rem;
    }
}

@media screen and (max-width: 1200px){
    .propertyContainer{
        padding:4rem 7rem 4rem 7rem;
    }
}

@media screen and (max-width: 1000px){
    .propertyContainer{
        padding:3rem 5rem 3rem 5rem;
    }
}

@media screen and (max-width: 800px){
    .propertyContainer{
        padding:3rem;
    }
}

@media screen and (max-width:768px){
    .propertyContainer{
        padding:2rem;
    }

    .contentContainer{
        grid-template-columns: 1fr;
    }
}




