.propertyContainer {
    width: 100%;
    padding: 5rem 12rem 0rem 12rem;
    overflow: hidden;
}

.contentContainer {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.leftColumn {
    width: 65%; 
    margin-bottom: 2rem; 
}

.rightColumn {
    width: 30%; /* Full width on smaller screens */
}

.bottomContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 2rem 12rem 2rem 12rem;
}

.bottomContainer h1 {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 0.2rem;
}

@media screen and (max-width: 1400px) {
    .propertyContainer {
        padding: 4rem 9rem 4rem 9rem;
    }
    .bottomContainer {
        padding: 4rem 9rem 4rem 9rem;
    }
}

@media screen and (max-width: 1200px) {
    .propertyContainer {
        padding: 4rem 7rem 4rem 7rem;
    }
    .bottomContainer {
        padding: 4rem 7rem 4rem 7rem;
    }
}

@media screen and (max-width: 1000px) {
    .propertyContainer {
        padding: 3rem 5rem 3rem 5rem;
    }
    .bottomContainer {
        padding: 3rem 5rem 3rem 5rem;
    }
}

@media screen and (max-width: 800px) {
    .propertyContainer {
        padding: 3rem;
    }
    .bottomContainer {
        padding: 3rem;
    }
}

@media screen and (max-width: 768px) {
    .propertyContainer {
        padding: 1.5rem;
        padding-bottom: 0rem;
    }

    .bottomContainer {
        padding: 2rem;
        padding-top: 0rem;
    }

    .contentContainer {
        flex-direction: column; /* Adjusted for smaller screens */
    }

    .leftColumn,
    .rightColumn {
        width: 100%; /* Full width on smaller screens */
    }
}
