.aboutDevContent{
    width: 100%;
    border: 1px solid black;
    border-radius: 15px;
    padding: 1rem;
}

.aboutDevContent h6{
    cursor: pointer;
    margin-top: 4px;
    color: #0061df;
    font-weight: 700;
}