.categoryContainer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    align-items: center;
    background-color:#FFF2CF;
    padding: 1.5rem;
    border-radius: 20px;
    min-height: 220px;
}

.categoryContainer h1{
    font-size: 35px;
    font-weight: 700;
}

.categoryContainer span{
    color: #FFBA00;
    font-weight: 500;
    font-size: 22px;

}

.brandName {
    font-size: 45px !important;
    font-weight: 900 !important;
}

.categoryImgContainer{
    height: 300px;
    position: relative;
    overflow: hidden;
    border: 4px solid #FFBA00;
    border-radius: 20px;
    cursor: pointer;
    z-index: 10;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

.categoryContentContainer h6{
    color: white;
    font-weight: 900;
    position: static !important;
    z-index: 1;
    font-size: 13px;
    margin: 4px;
    text-align: center;
}

.categoryImagesWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    grid-column-start: 2;
    grid-column-end: 4;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .categoryContainer{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 8px;
        align-items: center;
        background-color:#FFF2CF;
        padding: 1rem;
        border-radius: 20px;
    }

    .categoryImagesWrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
    }
    
    .categoryContainer h1{
        font-size: 30px;
        font-weight: 700;
    }
    
    .categoryContainer span{
        color: #FFBA00;
        font-weight: 500;
        font-size: 18px;

    }

    .brandName {
        font-size: 38px !important;
        font-weight: 900 !important;
    }
    .categoryImgContainer{
        min-height: 100%;
        min-width: 180px;
        position: relative;
        overflow: hidden;
        border: 4px solid #FFBA00;
        border-radius: 20px;
        cursor: pointer;
    }
    
    .categoryContentContainer h6{
        color: white;
        font-weight: 700;
        position: relative;
        z-index: 1;
        bottom: 40px;
        text-align: center;
        font-size: 16px;
    }
}
@media screen and (max-width: 640px) {
    .categoryContainer{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(10, 1fr); 
        gap: 4px;
        align-items: center;
        background-color:#FFF2CF;
        padding: 1rem 0.5rem;
        border-radius: 20px;
        
    }

    .categoryImagesWrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-start: 5;
        grid-column-end: 11;
        gap: 4px;
    }
    
    .categoryContainer h1{
        font-size: 22px;
        font-weight: 700;
        grid-column-start: 1;
        grid-column-end: 5;
    }
    
    .categoryContainer span{
        color: #FFBA00;
        font-weight: 500;
        font-size: 18px;

    }

    .brandName {
        font-size: 32px !important;
        font-weight: 900 !important;
    }
    
    .categoryImgContainer{
        min-height: 100%;
        position: relative;
        overflow: hidden;
        border: 4px solid #FFBA00;
        border-radius: 20px;
        cursor: pointer;
        min-width: unset;
        height: 100%;
    }

    .categoryContentContainer {
        height: 100%
    }
    
    .categoryContentContainer h6{
        color: white;
        font-weight: 700;
        position: relative;
        z-index: 1;
        bottom: 40px;
        text-align: center;
        font-size: 10px;
    }
 
}

@media screen and (max-width: 420px){
    .categoryImagesWrapper {
        max-height: 150px;
    }
}