/* banner */

.Banner{
    padding: 0rem 12rem;
    position: relative !important;
}

.Title{
    font-size: 5.5rem;
    font-weight: bold;
    letter-spacing: 5px;
    position: absolute;
    top: 25%;
    right: 15%;
}


@media only screen and (max-width: 1034px)  {
    .Title{
        font-size: 4rem;
        letter-spacing: 4px;
        top: 28%;
    }
    .Banner{
        padding: 0rem 3rem;
        height: 30vh;
    }
}
@media only screen and (max-width: 992px)  {
    .Title{
        font-size: 3rem;
        letter-spacing: 3px;
        top: 15%;
    }
    .Banner{
        padding: 0rem 3rem;
        height: 30vh;
    }
}


@media only screen and (max-width: 500px)  {
    .Title{
        font-size: 1.4rem;
        letter-spacing: 1px;
        top: 13%;
    }
    .Banner{
        padding: 0rem 3rem;
        height: 40vh;
    }
}