.reviewBlock{
    position: relative;
    margin: 2em 4em;
    padding: 20px 30px;
    border: 7px solid rgb(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 15px;
    background-color: rgb(255, 255, 255) !important;
}

.User{
    display:flex;
    margin-bottom: 20px;
}

.UserImg{
    border-radius: 80px !important;
    overflow: hidden;
    width: 80px;
}

.UserInfo{
    padding-left: 20px;
    align-self: center;
}

.ReviewMargin{
    margin: 2rem 12rem;
}

.ReviewLayout{
    margin-top: -115%;
    margin-bottom: 100px;
    background-color: rgb(0, 97, 253, 0.1);
    position: static;
    height: 165vh;
    border-radius: 20px;
    z-index: -1;
}

.MoreReviews{
    background-color: #0061fd;
    color: white;
    padding: 5px 25px;
    border-radius: 15px;
}

@media only screen and (max-width: 992px){
    .ReviewMargin{
        margin: 2rem 2.8rem;
    }
    .reviewBlock{
        margin: 2em 2em;
    }
    .ReviewLayout{
        margin-top: -140%;
        margin-bottom: 180px;
        height: 75vh;
    }
}
@media only screen and (max-width: 500px){
    .ReviewMargin{
        margin: 2rem 2.2rem;
    }
    .reviewBlock{
        margin: 2em 2em;
    }
    .ReviewLayout{
        margin-top: -615%;
        margin-bottom: 180px;
        height: 215vh;
    }
}

@media only screen and (max-width:400px){
    .reviewBlock{
        padding: 10px 18px;
    }
    .ReviewLayout{
        margin-top: -635%;
        margin-bottom: 180px;
        height: 265vh;
    }

    
}