.reviewBlock{
    /* position: relative; */
    margin: 0em 4em;
    padding: 20px 30px;
    border: 7px solid rgb(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 15px;
    background-color: rgb(255, 255, 255) !important;
    text-align: justify;
}

/* .ReviewList{
    margin-top: -30px !important;
    overflow: auto;
} */

.User{
    display:flex;
    margin-bottom: 8px;
}

.UserImg{
    border-radius: 100% !important;
    overflow: hidden;
    min-width: 80px;
    min-height: 80px;
    max-width: 80px;
    max-height: 80px;
}

.UserInfo{
    padding-left: 8px;
    align-self: center;
}

.ReviewMargin{
    margin: 2rem 12rem;
}


.ReviewLayout{
    margin-top: 5%;
    padding: 40px 0px !important;
    margin-bottom: 20px;
    /* background-color: rgb(0, 97, 253, 0.1); */
    /* position: static; */
    /* height: 165vh; */
    height: 80% !important;
    overflow-y: visible;
    border-radius: 20px;
    z-index: -1;
}

.MoreReviews{
    background-color: #0061fd;
    color: white;
    padding: 5px 25px;
    border-radius: 15px;
    margin-bottom: 3rem;
}


@media only screen and (max-width: 992px){
    .ReviewMargin{
        margin: 2rem 2.8rem;
    }
    .reviewBlock{
        margin: 0em 1em;
    }
    /* .ReviewLayout{
        margin-top: -140%;
        margin-bottom: 180px;
        height: 75vh;
    } */
}
@media only screen and (max-width: 768px){
    .ReviewMargin{
        margin: 2rem 0.5rem;
    }
    /* .reviewBlock{
        margin: 2em 2em;
    }
    .ReviewLayout{
        margin-top: -615%;
        margin-bottom: 180px;
        height: 215vh;
    } */
    .reviewBlock {
        border: 4px solid rgb(0, 0, 0, 0.1);
    }
    .MoreReviews {
        margin-bottom: unset;
        margin: 1rem 0;
        font-size: 13px;
    }
}

@media only screen and (max-width:640px){
    .reviewBlock{

        margin: 0em 0;
        padding: 12px;
        border: 4px solid rgb(0, 0, 0, 0.1);
        border-radius: 15px;
        margin-bottom: 8px;
        background-color: rgb(255, 255, 255) !important;
        text-align: justify;
        font-size: 12px;
    }

    .ReviewLayout {
        margin-top: 0;
    }

    .UserInfo {
        font-size: 11px;
    }

    .UserImg {
        min-width: 40px;
        max-width: 40px;
        max-height: 40px;
        min-height: 40px;
    }

    
}