.ExploreBuilder {
    margin-right: 100px;
    text-align: justify;
    width: 90%;

}

.TopBuilders {
    display: flex;
    margin-top: 30px;
    border: 1px solid rgba(0,0,0,0.4);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
    width: 70%;
    margin-top: 50px;
    margin: auto;

}

.TopBuilders h3 {
    font-size: 18px;
    font-weight: bold;
}

.TopBuilders div {
    align-self: center;
}

.Logo {
    width: 650px;
    border: 1px solid black;
    margin-right: 20px;
}

.ProjectCategory {
    border: 1px solid rgba(0,0,0,0.4);;
    padding: 20px;
    border-radius: 15px;
}

.ProjectCategory hr {
    margin-top: 2px;
    border: 0.01em solid rgb(74, 74, 74);
    margin: 0px !important;
    padding: 0px !important;
}

.Category span {
    margin-right: 40px;
    cursor: pointer;
}

.projectLine {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 12px;

}



.Projects {
	display: flex;
	border: 1px solid rgba(0,0,0,0.4);
	width: -moz-fit-content;
	width: fit-content;
	padding: 8px;
	border-radius: 20px;
	/* margin-right: 10px; */
	/* margin-bottom: 10px; */
	gap: 4px;
}

.Projects h4 {
    font-size: 14px;
    font-weight: bold;
}

.Projects p {
    font-size: 13px;
}

.Projects p span {
    color: blue;
}

.Projects strong {
    font-size: 14px;
}

.Projects img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 200px;
    margin-right: 15px;
}

.ViewAll {
    margin: auto;
}

.ViewAll button {
    margin-top: 10px;
    color: #0061fd;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    text-decoration: underline;
}

.SeeMore {
    color: #0061fd;
    cursor: pointer;
}

.pagination {
    display: flex;
    color: #0061fd;
    justify-content: space-between;
    margin-top: 20px;
    font-weight: bold;
    align-items: center;
}

.pagination span {
    cursor: pointer;
}



/* sidebar */
.sideBlock {
    text-align: center;
    font-weight: bold;
    background-color: #ffbf0025;
    padding: 20px;
    width: 80%;
    margin: auto;
}

.sideBlock h4,
.sideBlock span {
    font-size: 22px;
}

.sideBlock img {
    width: calc(100% - 50px);
    margin: auto;
    padding: 20px;
}

.Category {
    display: flex;
    gap: 8px;

}


/* Tablets and Smaller Laptops */

@media only screen and (min-width: 1064px) {
    .ExploreBuilder {
        margin: 0 auto;
    }

    .projectLine {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 1300px) {
    .ExploreBuilder {
        margin: 0 auto;
    }
}

/* Mobile */
@media only screen and (max-width: 500px) {
    .TopBuilders {
        display: block;
    }

    .Logo {
        width: 205px;
        margin-bottom: 10px;

    }


    .Projects {
        width: 100%;
        padding: 10px;
        margin-right: 0px;
    }

}

@media only screen and (max-width: 768px) {

    .ExploreBuilder {
        width: 100%;
    }
    .TopBuilders {

        display: grid;
        margin: unset;
        padding: unset;
        width: 90%;
        margin: 0 auto;
        padding: 8px;
        grid-template-columns: repeat(10, 1fr);
        gap: 8px;
        border: 1px solid rgba(0,0,0,0.2);;
        
    }
    
    .Logo {
        grid-column: 1/5;
        width: 100%;
        margin: unset;
        padding: unset;
    }

    .TopBuilderContent {
        grid-column: 5/11;
    }
    .TopBuilderContent p  {
        font-size: 12px;
        text-align: justify;
    }
    
    .ProjectCategory {
        border: 1px solid rgba(0,0,0,0.2);
        
    }
    
    .Projects {
        padding: 6px;
        margin-right: 0px;
        border: 1px solid rgba(0,0,0,0.2);
        min-width: 200px;
        margin: unset;
        margin-bottom: unset;
        margin-bottom: 8px;
        display: flex;
        gap: 4px;
    }

    .Projects img {
        width: 60px;
        height: 60px;
        margin: auto;
        /* margin-right: 15px; */
        align-self: center;
        border-radius: 100%;
        min-width: 60px;
        min-height: 60px;
    }

    .Projects h4 {
        font-size: 12px;
    }

    .Projects p {
        font-size: 10px;
    }

    .Projects strong {
        font-size: 12px;
    }

    .projectLine {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 4px;
    }

    .ViewAll {
        display: none;
    }

}