.ExploreBuilder {
    margin-right: 100px;
    text-align: justify;
    width: 90%;
    
}

.TopBuilders{
    display: flex;
    margin-top: 30px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    width: 70%;
    margin-top: 50px;
    margin: auto;

}

.TopBuilders h3{
    font-size: 18px;
    font-weight: bold;
}

.TopBuilders div{
    align-self: center;
}

.Logo{
    width: 650px;
    border: 1px solid black;
    margin-right: 20px;
}

.ProjectCategory{
    border: 1px solid black;
    padding: 20px;
    border-radius: 15px;
}
.ProjectCategory hr{
    margin-top: 2px;
    border: 0.01em solid rgb(74, 74, 74);
    margin: 0px !important;
    padding: 0px !important;
}

.Category span{
    margin-right:40px;
    cursor: pointer;
}

.projectLine{
    display: flex;
    flex-wrap: wrap
}

.Projects{
    display: flex;
    border: 1px solid black;   
    width: fit-content;
    padding: 15px;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.Projects h4{
    font-size: 14px;
    font-weight: bold;
}

.Projects p{
    font-size: 13px;
}
.Projects p span{
    color: blue;
}

.Projects strong{
    font-size: 14px;
}

.Projects img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 200px;
    margin-right: 15px;
}

.ViewAll{
    margin: auto;
}

.ViewAll button{
    margin-top: 10px;
    color: #0061fd;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    text-decoration: underline;
}

.SeeMore{
    color: #0061fd;
    cursor: pointer;
}

.pagination{
    display: flex;
    color: #0061fd;
    justify-content: space-between;
    margin-top: 20px;
    font-weight: bold;
    align-items: center;
}
.pagination span{
    cursor: pointer;
}



/* sidebar */
.sideBlock{
    text-align: center;
    font-weight: bold;
    background-color: #ffbf0025;
    padding: 20px;
    width: 80%;
    margin: auto;
}

.sideBlock h4, .sideBlock span{
    font-size: 22px;
}

.sideBlock img{
    width: calc(100% - 50px);
    margin: auto;
    padding: 20px;
}


/* Tablet */
@media only screen and (max-width: 900px){
    .ExploreBuilder {
        margin-right: 0px;
    }
    .TopBuilders{
        display: block;    
    }
    .Logo{
        width: 250px;
    }

    .Logo img{
        margin:auto;
        /* justify-content: center; */
    }

    .Projects{
        width: 48%;
        padding: 10px;
        margin-right:5px;
    }

    .Projects h4{
        font-size: 12px;
    }
    
    .Projects p{
        font-size: 10px;
    }
    
    .Projects strong{
        font-size: 12px;
    }
    
    .Projects img{
        width: 60px;
        height: 60px;
        margin: auto;
        margin-right: 15px;
        align-self: center;
    }
}

/* Mobile */
@media only screen and (max-width: 500px){
    .TopBuilders{
        display: block;    
    }
    .Logo{
        width: 205px;
        margin-bottom: 10px;

    }


    .Projects{
        width: 100%;
        padding: 10px;
        margin-right:0px;
    }

}
